$neutral-color: #FFFFF5;
$secondary-color: #000000;
$secondary-color-gray: #5b5b5b;
$accent-color-one:#8C028E;
$accent-color-two:#26206B;

$error-color: rgb(255, 86, 86);
$error-color-text: rgb(204, 0, 0);