/* Movil */
$height-small-card: 156px;
$width-small-card: 284px;
$bg-size-movil: 100vw 15rem;
$padding-card-movil: 1.25rem;
$size-flow-movil: 2rem;

/* Tablet */
$height-medium-card: 197px;
$width-medium-card: 359px;
$bg-size-tablet: 100vw 20rem;
$padding-card-tablet: 1.5rem;
$size-flow-tablet: 4rem;


/* Desktop */
$height-large-card: 245px;
$width-large-card: 447px;
$bg-size-desktop: 33.5vw 100vh;
$padding-card-desktop: 2rem;