@use '../1.settings/variables';

.c-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  
  text-align: center;

  &__img {
    animation: 1.5s rotate360deg linear infinite;
  }

  &__message {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: variables.$secondary-color-gray;
  }
}

@keyframes rotate360deg {
  100% {
    transform: rotate(360deg);
  }
}